#movie-list{ width: 90%; margin: 0 auto }
#master-data th { cursor: pointer; text-align:center; }
#master-data #watch-date, #master-data #id{ width: 70px; }
#master-data #actions{ width:10%; }
#master-data #pag-controls .pagination{ margin-top: 4px; margin-bottom: 0px; }

#ratingPicker{ width: 140px; }

.center{ text-align:center;}
.left{ text-align: left;}
.right{ text-align: right;}

.linkify{ cursor:pointer; }
.favorite{ font-weight: bold; }
