<div class="panel panel-primary">
	<div class="panel-heading"><h3 class="panel-title">Controls</h3></div>
	<div class="panel-body">
		<div class="col-md-6">
			<div class="col-md-2">
				<button class="btn btn-default" type="button" ng-click="toggleDetails();this.blur();">
					<span ng-show="!showDetails">Show Details</span>
					<span ng-show="showDetails">Hide Details</span>
				</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-default" type="button" ng-click="toggleShowFavoritesOnly()">
					<span ng-show="!showFavoritesOnly">Show Favorites</span>
					<span ng-show="showFavoritesOnly">Show All</span>
				</button>
				
			</div>
			<div class="col-mid-4 form-group">
				<select name="filterRating" ng-model="filterRating" ng-options="opt.id as opt.label for opt in ratingOptions" class="form-control" style="width: 120px;">
				</select>
			</div>
		</div>

		<div class="col-md-6">
			<div class="col-md-4">
				<input ng-model="searchQuery" class="form-control" placeholder="Search {{allMovies.length}} Movies..."></input>
			</div>
			<div class="col-md-1">
				<button class="btn btn-default" type="button"  ng-show="searchQuery.length > 0" ng-click="clearQuery()">Clear</button>
			</div>
			<div class="col-md-1">
				<button class="btn btn-default" type="button" ng-click="refresh()">Reload Data</button>
			</div>
		</div>
	</div>
</div>