<nav class="navbar navbar-inverse">
	<div class="navbar-header">
		<a class="navbar-brand" href="https://github.com/arbokrad/movielistjs">MovieListJS</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Options <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
						<a ng-click="toggleDetails()" onclick="this.blur()">
							<span ng-show="showDetails">&check;</span>
							Show Details
						</a>
					</li>
					<li>
						<a ng-click="toggleShowFavoritesOnly()" onclick="this.blur()">
							<span ng-show="showFavoritesOnly">&check;</span>
							Show Favorites
						</a>
					</li>
					<li>
						<a ng-click="refresh()" onclick="this.blur()">Reload</a>
					</li>
        </ul>
      </li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ratings Filter <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ng-repeat="opt in movieList.ratingOptions">
						<a ng-click="setFilterRating(opt.id)">
							<span ng-show="opt.id == filterRating">&check;</span>
							{{opt.label}}
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre Filter <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ng-repeat="opt in movieList.genreOptions">
						<a ng-click="setFilterGenre(opt.id)">
							<span ng-show="opt.id == filterGenre">&check;</span>
							{{opt.label}}
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<form class="navbar-form navbar-left" role="search">
				<input ng-model="searchQuery" class="movie-search form-control" placeholder="Search {{movieList.movies.length}} Movies..."></input>
			</form>
			<li>
				<a href="#" ng-click="clearQuery()" onclick="this.blur()">Clear</a>
			</li>
    </ul>
	</div>
</nav>
